@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 5px; /*Added padding for button size*/
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
ul{
  list-style-type: none;
}

a:link, a:visited, a:hover, a:active{
  text-decoration:none; /*took out underline for links*/
  color: darkslategray /*Changed color of links to gray*/
}
.left-links{
  display: flex;
  gap: 15px;
  padding-left: 15px;
}
.right-links{
  display: flex;
  gap: 15px;
  padding-right: 15px;
}
.header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.input{
  display: flex;
  justify-content: center;
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 5px;
  padding-bottom: 60px;
}
img{
  display: block;  /*Keeps it in its own line*/
  margin-left: auto; /*Centers the image left and right thru margins*/
  margin-right: auto;
  padding-top: 80px;
}

.footer{
  display: flex;
  justify-content: space-between;  /*gives space between content & pushes the content to each side*/
  margin-top: auto; /*gives me automated space from top */
  background-color: #eee;
  padding: auto;
}
