body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /*pushes TOP to the bottom*/
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  flex-shrink: 0; /*will make the item not shrink or collapse*/
  display: flex;
  align-items: center; /*centers the text in the center vertically*/
  justify-content: center; /*puts TOP in the center horizontally*/
  margin-top: auto; /*Pushes the footer to the bottom*/
}

.sidebar {
  width: 300px;
  background: royalblue;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding-right: 16px;
  flex-grow: 100%;
  font-size: 24px;
}

a:link{ /*a:link is a class for links on website that are not clicked on*/
  text-decoration: none; /*takes out underline on links*/
  color: white;

}
a:visited{ /*class for links that are clicked on*/
  text-decoration: none; 
  color: white; /*changes color of link to white*/
}
.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
  padding-top: 16px;
}

.middle{
  display: flex;
  gap: 30px;
  flex-grow: auto;
}